
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="floating-title">[SECCION EN CONSTRUCCION] Comparacion de instituciones</h1>
  
        <p>
          Puede escoger dos instituciones entre el listado para comparar datos basicos de las solicitudes que se han realizado
        </p>
        <br>
        <br>
      </div>
  
    </div>
    
    <div class="card">
      <div class="card-body">
        <table id="comparisonTable" class="table">
          <tbody>
            <tr>
              <td>Instituciones</td>
              <th role="columnheader">
                <div>
                  <select
                    class="custom-select"
                    (change)="onChangeInstitution1($event)"
                    name="sel3"
                  >
                    <option value="">Seleccione una institucion</option>
                    <option
                      *ngFor="let item of institutionList"
                      [selected]="item.id === institutionSelection1"
                      [value]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
              </th>
              <th role="columnheader">
                <div>
                  <select
                    class="custom-select"
                    (change)="onChangeInstitution2($event)"
                    name="sel3"
                  >
                    <option value="">Seleccione una institucion</option>
                    <option
                      *ngFor="let item of institutionList"
                      [selected]="item.id === institutionSelection2"
                      [value]="item.id"
                    >
                      {{ item.name }}
                    </option>
                  </select>
                </div>
    
              </th>
            </tr>
            
           
            <tr>
              <th role="rowheader">
                <span>Promedio de respuesta a solicitudes</span>
              </th>
              <td>
                {{ average_response1 }}
              </td>
              <td>
                {{ average_response2 }}
              </td>
            </tr>
            <tr>
              <th role="rowheader">
                <span>Total de solicitudes realizadas</span>
              </th>
              <td>
                {{ total_inforequest1 }}
              </td>
              <td >
                {{ total_inforequest2 }}
              </td>
            </tr>
            <tr>
              <th role="rowheader">
                <span>Estado de las solicitudes</span>
              </th>
              <td>
                <ul>
                  <!-- 

                    <li *ngFor="let obj of total_status1">{{obj | json}}</li>
                  -->
                </ul>
              </td>
              <td >
                <!-- 
                <li *ngFor="let obj of total_status2| keyvalue">{{obj | json}}</li>
                -->
              </td>
            </tr>
            <tr>
              <th role="rowheader">
                <span>Resultado de las solicitudes</span>
              </th>
              <td>
                      
              </td>
              <td >
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br>


  </div>
</div>
